body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Scroll-box {
  height: 400px;
  width: 100%;
  overflow-y:
  scroll;
}

li {
  margin: 5px;
  text-align: left;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

span.black {
  color: black;
}
span.red {
  color: red;
}
span.green {
  color: green;
}
span.yellow {
  color: yellow;
}
span.blue {
  color: blue;
}
span.cyan {
  color: cyan;
}
span.pink {
  color: pink;
}
span.white {
  color: white;
}
span.orange {
  color: orange;
}
