body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Scroll-box {
  height: 400px;
  width: 100%;
  overflow-y:
  scroll;
}

li {
  margin: 10px;
  background-color: #2a2c2f;
}

.block {
  overflow: hidden;
  border: 1px solid orange;
 }

.block img {
  width: 32px;
  height: 32px;
  float: left;
  margin: 0 1rem 0 0;
  border: 1px solid red;
}

span.timestamp {
  padding: 1rem;
  width: max-content;
  float: left;
  border: 1px solid green;
}

span.content {
  padding: 1rem;
  width: max-content;
  float: left;
  border: 1px solid yellow;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

span.black {
  color: black;
}
span.red {
  color: red;
}
span.green {
  color: green;
}
span.yellow {
  color: yellow;
}
span.blue {
  color: blue;
}
span.cyan {
  color: cyan;
}
span.pink {
  color: pink;
}
span.white {
  color: white;
}
span.orange {
  color: orange;
}
