html {
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(bg.png) no-repeat center center fixed;
  background-color: #000000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout {
  border: 1px solid red;
}

.Scroll-box {
  margin: 4em 2em 4em 2em;
  height: 30em;
  overflow-y: scroll;
  width: 45%;
  display:inline-block;
}

li {
  margin: 5px;
  text-align: left;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

span.black {
  color: black;
}
span.red {
  color: red;
}
span.green {
  color: green;
}
span.yellow {
  color: yellow;
}
span.blue {
  color: blue;
}
span.cyan {
  color: cyan;
}
span.pink {
  color: pink;
}
span.white {
  color: white;
}
span.orange {
  color: orange;
}

.transparent {
  background: rgba(255, 255, 255, 0) !important;
}

.translucent {
  background: rgba(255, 255, 255, .5) !important;
}

.team-icon {
  width: 16px;
  height: auto;
}

.charts {
  height: 20em;
}

.weaponsChart {
  height: 360px; width: 45%;display:inline-block;

}
.playersChart {
  height: 360px; width: 45%;margin-left:5%;display:inline-block;
}
