{% extends "base.html" %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{url_for('.static', filename='js/stats.js')}}"></script>
<!-- <script src="{{url_for('.static', filename='js/toplists.js')}}"></script> -->
{% endblock %}

{% block content %}
<div class="content" id="kill_div" style="height: 200px; overflow-y: scroll;">
    <table class="table-sm table-dark" id="kill_table" style="width: 100%;">
        <tbody></tbody>
    </table>
</div>
<div class="content" id="chat_div" style="height: 200px; overflow-y: scroll;">
    <table class="table-sm table-dark" id="chat_table" style="width: 100%;">
        <tbody></tbody>
    </table>
</div>
<div class="content" id="toplist">
    <canvas id="myChart"></canvas>
</div>
{% endblock %}

{% block footer_scripts %}
{{ super() }}
<script type="text/javascript">
    console.log("Running ...")
    $(document).ready(function () { setupSocketIO(); })
</script>
{% endblock %}