{% extends "bootstrap/base.html" %}
{% set application_name = 'Quake3 Kafka Test' %}
{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
<script src="{{url_for('.static', filename='js/main.js')}}"></script>
{% endblock head %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock styles %}
{% block title %}{{ application_name }}{% endblock title%}
{% block body_attribs %} style="padding: 10px 20px 10px 20px; "{% endblock body_attribs %}